html, body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  font-size: 16px;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;;
}

.block {
  display: block;
}

.flex {
  display: flex;
  flex: 1;
}

.container {
  padding: 24px;
}

.card {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0px 24px;
}

.card-header {
  border-bottom: 1px solid #ddd;
  padding: 8px 0px;
}

.card-content {
  padding: 8px 0px;
}

.page-title {
  font-size: 24px;
  line-height: 32px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown svg {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  vertical-align: middle;
  transform: rotate(0deg);
  transition: all .3s ease-in-out;
}

.dropdown:hover {
  border-color: #999;
}

.dropdown:hover svg {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  min-width: 160px;
  border: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
tr {
  height: 32px; /* Set the height of each row */
}

input[type="search"] {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

button.search {
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 0;
  background: #010101;
  color: #f1f1f1;
}

.h-screen {
  height: 100vh;
}

.gap-4 {
  gap: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-20 {
  margin-left: 5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.items-center{
  align-items: center;
}

.bg-grey {
  background-color: rgb(241, 241, 241);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}
